envAxis {
  name: "DOCKER_IMAGES"
  value: "debian:8"
  value: "fedora:25"
  value: "fedora:26"
  value: "ubuntu:16.04"
}
envAxis {
  name: "ANSIBLE_VERSIONS"
  value: "1.4"
  value: "1.4.4"
  value: "1.5.4"
  value: "1.6.1"
  value: "1.7.2"
  value: "1.8.4"
  value: "1.9.2"
  value: "2.0.0.2"
  value: "2.1.0.0"
  value: "2.2.1.0"
}
